License-Plate-Recognition-13
yolo26_coco128_plate
runs
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.tmp
*.swp
*.swo
*.swn
*.pt